<h1>Add a definition:</h1>
<form>
<form action="/definitions" method="post">
  <label for="define_word">New definition:</label>
    <input id="define_word" name="define_word" type="text">
    <button type="submit">Add Definition</button>
</form>
