<h1>Add a word to your dictionary:</h1>
<form>
<form action ="/words" method="post">
  <label for="new_word">new word:</label>
    <input id="new_word" name="new_word" type="text">
    <button type="submit">Add Word</button>
</form>
