<h3>Here are your definitions for this word:</h3>
<ol>
  <% @word.term().each() do |term| %>
  <li>
    <%= term.define_word() %>
  </li>
    <% end %>
</ol>

<a href="/words/<%= @word.id()%>/definitions/new">Add a new definition</a><br>
<a href="/">Return to Main Page</a><br>
<a href="/words">Go back to your list of words</a><br>
