
<h3>Click on a word to see all your definitions for that word:</h3>
<ol>
  <% @words.each() do |word| %>
    <li><a href="/word/<%= word.id() %>"><%= word.new_word() %></a></li>
  <% end %>
</ol>
<a href="/words/new">Add a new word</a><br>
<a href="/">Go Home</a>
